<a href="#home" aria-label="Return to the top of the page">
  <img
    src="/Larry.webp"
    alt="Larry's logo"
    class="w-8 rounded-full shadow-sm shadow-indigo-300 hover:scale-125 transition-all duration-300"
  />
</a>
