---
import Section from "@/components/resume/Section.astro"
import { basics } from "@/resume.json"
const { summary } = basics
---

<Section title="Summary">
  <p class="text-pretty pt-2 text-gray-700 text-xs">{summary}</p>
</Section>
