---
import SectionHome from "@/components/SectionHome.astro"
import SectionProjects from "@/components/SectionProjects.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Larry Villegas Costas - Portfolio.">
  <main class="flex flex-col gap-8">
    <SectionHome />
    <SectionProjects />    
  </main>
</Layout>
