---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Larry Villegas Costas - Portfolio.">
  <main>
    <!-- <Header /> -->
    <!-- <Logo class="size-12" />
    <Button>Get Started</Button>
    <Tag>JavaScript</Tag>
    <Medium class="size-12 bg-white rounded-full" />
    <Wellfound class="size-12 text-white" />
    <Twitter class="size-12 text-white" />
    <MobileIcon class="size-12 text-white" />
    <Close class="size-12 text-white" />
    <LVIcon class="size-12 text-white bg-white" /> -->
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
