---
import Layout from "../layouts/Layout.astro"
import Logo from "../components/Logo.astro"
import Button from "../components/Button.astro"
import Tag from "../components/Tag.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <Logo class="size-24" />
    <Button>Get Started</Button>
    <Tag>JavaScript</Tag>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
