---
import SectionAbout from "@/components/SectionAbout.astro"
import SectionContact from "@/components/SectionContact.astro"
import SectionHome from "@/components/SectionHome.astro"
import SectionProjects from "@/components/SectionProjects.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Larry Villegas Costas - Portfolio.">
  <main class="flex flex-col md:gap-36 gap-16">
    <SectionHome />
    <SectionProjects />
    <section>
      <SectionAbout />
      <SectionContact />
    </section>
  </main>
</Layout>
