<dialog id="project">
  <button id="close">close</button>
</dialog>

<script>
  const btnclose = document.getElementById("close")
  const dlgProject = document.getElementById("project")
  btnclose.addEventListener("click", function () {
    dlgProject.close()
  })
</script>
