---
import LogoFace from "./LogoFace.astro"
---

<header
  class="w-full flex justify-between bg-indigo-400/90 text-base font-medium py-4 px-36 shadow-md shadow-indigo-500/70 sticky top-0 left-0"
>
  <LogoFace />
  <nav>
    <ul class="flex gap-4">
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
