---
import LogoFace from "@/icons/LogoFace.astro"
import MenuIcon from "@/icons/MenuIcon.astro"
---

<header
  class="w-full flex justify-between bg-indigo-950 text-base font-medium md:py-4 py-3 md:px-36 px-16 shadow-md shadow-indigo-500 sticky top-0 left-0 z-10"
>
  <LogoFace />
  <div class="flex">
    <button
      class="hamburger-menu focus-outline"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="menu-items"
    >
      <MenuIcon class="menu-icon md:hidden hover:scale-110 cursor-pointer" />
    </button>
    <nav class="realative">
      <ul class="md:flex gap-4 menu-list hidden" id="menu-items">
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<style>
  .menu-list li a {
    padding: 5px 10px 5px 10px;
    /* transition: all 0.5s ease-in-out; */
  }
  .menu-list li a:hover {
    /* padding: 5px 10px 5px 10px; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5); */
    /* border: 1px solid black; */
    animation: bordes 0.3s ease-in forwards;
    /* transition: all 0.3s ease-in; */
  }

  @keyframes bordes {
    0% {
      border-bottom: 1px solid white;
      border-right: none;
      border-top: none;
      border-left: none;
    }
    100% {
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      border-top: none;
      border-left: none;
    }
  }

  .menu-icon {
    @apply transition-opacity duration-75 ease-in-out;
  }
  /* .menu-icon .close {
    opacity: 0;
  } */
  /* .menu-icon.is-active {
    @apply opacity-0;
  } */
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu")
    const menuIcon = document.querySelector(".menu-icon")
    const menuItems = document.querySelector("#menu-items")

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true"
      menuIcon?.classList.toggle("is-active")
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true")
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu",
      )
      menuItems?.classList.toggle("hidden")
      menuItems?.classList.toggle("absolute right-4")
    })
  }

  toggleNav()

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav)
</script>
