---
import Button from "@/components/Button.astro"
import SkillsCard from "@/components/SkillsCard.astro"
import SocialNav from "@/components/SocialNav.astro"
import JavaScript from "@/icons/JavaScript.astro"
import Html from "@/icons/Html.astro"
import Css from "@/icons/Css.astro"
import Ruby from "@/icons/Ruby.astro"
import VisualBasic from "@/icons/VisualBasic.astro"
import Postgress from "@/icons/Postgress.astro"
import Bootstrap from "@/icons/Bootstrap.astro"
import Npm from "@/icons/Npm.astro"
import Nodejs from "@/icons/Nodejs.astro"
import Rails from "@/icons/Rails.astro"
import Reactjs from "@/icons/Reactjs.astro"
import ReactRouter from "@/icons/ReactRouter.astro"
import Redux from "@/icons/Redux.astro"
import Tailwind from "@/icons/Tailwind.astro"
import Vite from "@/icons/Vite.astro"
import Webpack from "@/icons/Webpack.astro"
import Figma from "@/icons/Figma.astro"
import Apache from "@/icons/Apache.astro"
import Git from "@/icons/Git.astro"
import Github from "@/icons/Github.astro"
import Jest from "@/icons/Jest.astro"
---

<section id="about" class="w-full rounded-tr-[100px] bg-slate-900 pb-40">
  <article
    class="relative flex gap-12 mx-auto my-0 max-w-[1156px] pt-40 min-h-80"
  >
    <article class="w-[50%]">
      <h2 class="text-4xl font-bold leading-[52px] text-indigo-200 mb-3">
        About Myself
      </h2>
      <p class="leading-6 text-pretty mb-3">
        I am a passionate web development enthusiast, a proud husband, and the
        father of three beautiful children. I dedicate my free time to playing
        music with my guitar.
      </p>
      <p class="text-indigo-400 font-medium pt-5 pb-3 mb-6 leading-6">
        LET'S CONNECT
      </p>
      <SocialNav />

      <a
        href="./Larry_Villegas_Resume.pdf"
        target="_blank"
        aria-label="Get my resume"
        rel="nooppener noreferrer"
        >
        <div class="mt-8"></div>
        <Button >Get my resume</Button></a
      >
    </article>
    <article
      class="w-[50%] text-indigo-200
      [&>details>summary]:text-xl [&>details>summary]:font-medium [&>details>summary]:leading-6 [&>details>summary]:overflow-hidden
      [&>details>summary]:mb-6 [&>details>summary]:list-none [&>details>summary]:relative
      [&>details]:border-b-2 [&>details]:mb-6
      [&>details]:border-indigo-800
      [&>details>summary]:after:content-['']
      [&>details>summary]:after:size-0 [&>details>summary]:after:border-t-[1rem] [&>details>summary]:after:border-l-[1rem] [&>details>summary]:after:border-r-[1rem] [&>details>summary]:after:border-l-transparent [&>details>summary]:after:border-r-transparent [&>details>summary]:after:border-indigo-500 [&>details>summary]:after:border-b-0
      [&>details[open]>summary]:after:size-0 [&>details[open]>summary]:after:border-b-[1rem] [&>details[open]>summary]:after:border-t-0 [&>details[open]>summary]:after:border-l-[1rem] [&>details[open]>summary]:after:border-r-[1rem] [&>details[open]>summary]:after:border-l-transparent [&>details[open]>summary]:after:border-r-transparent
      [&>details>summary]:after:absolute [&>details>summary]:after:right-1"
    >
      <details name="skills" open>
        <summary>Languages</summary>
        <article class="grid grid-cols-3 gap-3 mb-6">
          <SkillsCard>
            <JavaScript class="size-12 rounded-full" slot="icon" />
            JavaScript
          </SkillsCard>
          <SkillsCard>
            <Html class="size-12 rounded-full" slot="icon" />
            HTML
          </SkillsCard>
          <SkillsCard>
            <Css class="size-12 rounded-full" slot="icon" />
            CSS
          </SkillsCard>
          <SkillsCard>
            <Ruby class="size-12 rounded-full" slot="icon" />
            Ruby
          </SkillsCard>
          <SkillsCard>
            <VisualBasic class="size-12 rounded-full" slot="icon" />
            Visual Basic
          </SkillsCard>
          <SkillsCard>
            <Postgress class="size-12 rounded-full" slot="icon" />
            Postgress
          </SkillsCard>
        </article>
      </details>

      <details name="skills">
        <summary>Frameworks</summary>
        <article class="grid grid-cols-3 gap-3 mb-6">
          <SkillsCard>
            <Bootstrap class="size-12 rounded-full" slot="icon" />
            Bootstrap
          </SkillsCard>
          <SkillsCard>
            <Npm class="size-12 rounded-full" slot="icon" />
            Npm
          </SkillsCard>
          <SkillsCard>
            <Nodejs class="size-12 rounded-full" slot="icon" />
            Nodejs
          </SkillsCard>
          <SkillsCard>
            <Rails class="size-12 rounded-full" slot="icon" />
            Ruby on Rails
          </SkillsCard>
          <SkillsCard>
            <Reactjs class="size-12 rounded-full" slot="icon" />
            Reactjs
          </SkillsCard>
          <SkillsCard>
            <ReactRouter class="size-12 rounded-full" slot="icon" />
            React Router
          </SkillsCard>
          <SkillsCard>
            <Redux class="size-12 rounded-full" slot="icon" />
            Redux
          </SkillsCard>
          <SkillsCard>
            <Tailwind class="size-12 rounded-full" slot="icon" />
            Tailwind
          </SkillsCard>
          <SkillsCard>
            <Vite class="size-12 rounded-full" slot="icon" />
            Vite
          </SkillsCard>
          <SkillsCard>
            <Webpack class="size-12 rounded-full" slot="icon" />
            Webpack
          </SkillsCard>
        </article>
      </details>

      <details name="skills">
        <summary>Skills</summary>
        <article class="grid grid-cols-3 gap-3 mb-6">
          <SkillsCard>
            <Figma class="size-12 rounded-full" slot="icon" />
            Figma
          </SkillsCard>
          <SkillsCard>
            <Apache class="size-12 rounded-full" slot="icon" />
            Apache
          </SkillsCard>
          <SkillsCard>
            <Git class="size-12 rounded-full" slot="icon" />
            Git
          </SkillsCard>
          <SkillsCard>
            <Github class="size-12 rounded-full" slot="icon" />
            Github
          </SkillsCard>
          <SkillsCard>
            <Jest class="size-12 rounded-full" slot="icon" />
            Jest
          </SkillsCard>
        </article>
      </details>
    </article>
  </article>
</section>
