---
import ProjectCard from "./ProjectCard.astro"

export const TECH = {
  html: "HTML",
  css: "CSS",
  javaScript: "JavaScript",
  react: "React",
  redux: "Redux",
  ruby: "Ruby",
  rails: "Ruby on rails",
  postgres: "PostgreSQL",
  erb: "erb",
  astro: "Astro",
  tailwind: "Tailwind",
  jest: "Jest",
  webpack: "Webpack",
  json: "JSON",
}

export const STACK = {
  front: "Front End Dev",
  back: "Back End Dev",
  full: "Full Stack Dev",
}

export const PROJECTS = [
  {
    title: "Fast Land Racers",
    description:
      "Fast-Lane-Racer is a car booking website that enables users to effortlessly book rides and travel to their desired destinations. Users can reserve a car from the available options by providing the date and city, ensuring a seamless and reliable car booking experience.",
    smallDescription:
      "It's a car booking website that enables users to effortlessly book rides and travel to their desired destinations.",
    image: "/projects/mock-racer.webp",
    technologies: [
      TECH.html,
      TECH.rails,
      TECH.css,
      TECH.javaScript,
      TECH.postgres,
      TECH.react,
      TECH.redux,
    ],
    url: "https://shiny-longma-bba6fb.netlify.app",
    github: "https://github.com/LarryIVC/Fast-Lane-Racers-front-end",
    enterprise: "Microverse",
    stack: STACK.full,
    year: "2023",
  },
  {
    title: "Tesla Clone",
    description:
      "Tesla Clone is a replica of the Tesla website. It is a static website built using Astro, Tailwind.",
    smallDescription: "Tesla Clone is a replica of the Tesla website.",
    image: "/projects/tesla-landing.webp",
    technologies: [
      TECH.html,
      TECH.css,
      TECH.javaScript,
      TECH.astro,
      TECH.tailwind,
    ],
    url: "https://tesla-clon-larry.netlify.app/",
    github: "https://github.com/LarryIVC/astro-landing",
    enterprise: "Tesla",
    stack: STACK.front,
    year: "2023",
  },
  // {
  //   title: "Pennywise",
  //   description:
  //     "Pennywise: Simplify your finances. Track expenses, set budgets, gain insights, and make informed decisions for financial freedom. Get started today!",
  //   smallDescription: "Manage your finances with ease: expenses and budgets.",
  //   image: "/projects/pennywise.webp",
  //   technologies: [
  //     TECH.erb,
  //     TECH.css,
  //     TECH.javaScript,
  //     TECH.ruby,
  //     TECH.rails,
  //     TECH.postgres,
  //   ],
  //   url: "https://rails-lb6q.onrender.com/",
  //   github: "https://github.com/LarryIVC/pennywise",
  //   enterprise: "Microverse",
  //   stack: STACK.back,
  //   year: "2023",
  // },
  {
    title: "Crypto Coinranking",
    description:
      "It's a powerful web application designed specifically for cryptocurrencies. Leveraging the capabilities of React and Redux, it offers comprehensive information about various digital coins.",
    smallDescription:
      "It's a powerful web application designed specifically for cryptocurrencies.",
    image: "/projects/cryptomock.webp",
    technologies: [
      TECH.html,
      TECH.css,
      TECH.javaScript,
      TECH.react,
      TECH.redux,
    ],
    url: "https://react-coin-coinranking.netlify.app/",
    github: "https://github.com/LarryIVC/react-coins",
    enterprise: "Microverse",
    stack: STACK.front,
    year: "2023",
  },
  {
    title: "The Simpsons Fans Club",
    description:
      "This project showcases my proficiency in JavaScript, Webpack, and Jest, along with my skills in working with JSON for reading and writing APIs.",
    smallDescription:
      "This project showcases my proficiency in JavaScript, Webpack, and Jest, as well as my capability in working with JSON for reading and writing APIs.",
    image: "/projects/simpmock.webp",
    technologies: [
      TECH.html,
      TECH.css,
      TECH.javaScript,
      TECH.webpack,
      TECH.jest,
    ],
    url: "https://js-capstoneproject.netlify.app/",
    github: "https://github.com/LarryIVC/JS-CapstoneProject",
    enterprise: "Microverse",
    stack: STACK.front,
    year: "2023",
  },
  {
    title: "Catholic Music Concert",
    description:
      "A landing page specifically created to promote a Catholic concert. The design is intuitive and user-friendly, enabling visitors to access essential concert details such as date, time, venue, and artists quickly and easily.",
    smallDescription:
      "A landing page designed exclusively for the promotion of a Catholic concert.",
    image: "/projects/event.webp",
    technologies: [TECH.html, TECH.css, TECH.javaScript],
    url: "https://larryivc.github.io/EventPage/",
    github: "https://github.com/LarryIVC/EventPage",
    enterprise: "Microverse",
    stack: STACK.front,
    year: "2023",
  },
]
---

<section
  class="flex flex-col gap-36 max-w-[1156px] mx-auto my-0 pt-10 px-6"
  id="projects"
>
  {PROJECTS.map((project) => <ProjectCard {...project} />)}
</section>
