---
import JavaScript from "@/icons/JavaScript.astro"
---

<article
  class="flex md:block p-2 bg-slate-950 md:w-[112px] w-full md:h-[110px] rounded-lg border-2 border-indigo-500 shadow-sm shadow-indigo-300 gap-3"
>  
  <slot name="icon" />
  <p class="mt-4 font-medium leading-5 text-center">
    <slot />
  </p>
</article>
