---
import Github from "@/icons/Github.astro"
import Linkedin from "@/icons/Linkedin.astro"
import Medium from "@/icons/Medium.astro"
import Twitter from "@/icons/Twitter.astro"
import Wellfound from "@/icons/Wellfound.astro"
---

<nav>
  <ul class="flex md:gap-6 gap-4 item-social">
    <li>
      <a
        href="https://github.com/LarryIVC"
        target="_blank"
        aria-label="Github profile"
        rel="nooppener noreferrer"
        ><Github class="md:h-7 md:w-7 h-5 w-5 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/larryvillegascostas/"
        target="_blank"
        aria-label="Linkedin profile"
        rel="nooppener noreferrer"
        ><Linkedin class="md:h-7 md:w-7 h-5 w-5 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://medium.com/@larry.villegas"
        target="_blank"
        aria-label="Medium profile"
        rel="nooppener noreferrer"
        ><Medium class="md:h-7 md:w-7 h-5 w-5 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/LarryVillegas"
        target="_blank"
        aria-label="Twitter profile"
        rel="nooppener noreferrer"
        ><Twitter class="md:h-7 md:w-7 h-5 w-5 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://wellfound.com/u/larry-villegas"
        target="_blank"
        aria-label="Wellfound profile"
        rel="nooppener noreferrer"
        ><Wellfound class="md:h-7 md:w-7 h-5 w-5 text-gray-200" /></a
      >
    </li>
  </ul>
</nav>
<style>
  .item-social li {
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 3px 5px 3px 5px;
  }
  .item-social li:hover {
    border: 1px solid whitesmoke;
    transform: scale(1.15);
  }

  @media (min-width: 768px) {
    .item-social li {
      border-radius: 6px;
      padding: 5px 10px 5px 10px;
    }
  }
</style>
