---
import Github from "@/icons/Github.astro"
import Linkedin from "@/icons/Linkedin.astro"
import Medium from "@/icons/Medium.astro"
import Twitter from "@/icons/Twitter.astro"
import Wellfound from "@/icons/Wellfound.astro"
---

<nav>
  <ul class="flex gap-6 [&>li]:hover:text-indigo-500">
    <li>
      <a
        href="https://github.com/LarryIVC"
        target="_blank"
        aria-label="Github profile"
        rel="nooppener noreferrer"><Github class="h-7 w-7 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/larryvillegascostas/"
        target="_blank"
        aria-label="Linkedin profile"
        rel="nooppener noreferrer"><Linkedin class="h-7 w-7 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://medium.com/@larry.villegas"
        target="_blank"
        aria-label="Medium profile"
        rel="nooppener noreferrer"><Medium class="h-7 w-7 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/LarryVillegas"
        target="_blank"
        aria-label="Twitter profile"
        rel="nooppener noreferrer"><Twitter class="h-7 w-7 text-gray-200" /></a
      >
    </li>
    <li>
      <a
        href="https://wellfound.com/u/larry-villegas"
        target="_blank"
        aria-label="Wellfound profile"
        rel="nooppener noreferrer"
        ><Wellfound class="h-7 w-7 text-gray-200" /></a
      >
    </li>
  </ul>
</nav>
